.navbar
  =link_to 'Home', root_path, {class: 'links'}
  -unless user_signed_in?
    =link_to 'Register', new_user_registration_path , {class: 'links'}
    =link_to 'Login', new_user_session_path, {class: 'links'}
  - else
    %span.links=link_to 'Logout', destroy_user_session_path, {class: 'links', method: :delete }
    %span=current_user.email