= render partial: 'partials/navbar'

-if user_signed_in?
  #chat_window
  -@chats.each do |chat|
    -if chat.users.include?(current_user)
      %span="Chat between #{chat.users.first.email} and #{chat.users.second.email}"
      =link_to "join", chat_path(chat.id)
  %h4 Available users to start a chat with:
  -@users.each do |user|
    =link_to "#{user.email}", chat_index_path(user: user), method: :post
    %br/
