-if user_signed_in?
  .main
    .chats
      %h4 Active chats:
      -@chats.each do |chat|
        -chat.users.each do |user|
          -unless user === current_user
            %p=link_to "Chat with #{user.email}", chat_path(chat.id), {class: 'links'}
    .chats
      %h4 Start a new chat with:
      -@users.each do |user|
        -unless user == current_user
          =link_to "#{user.email}", chat_index_path(user: user), method: :post
          %br/
